
@font-face {
  font-family: 'pokemon-logo';
  src: url('../assets/fonts/pokemon-logo.ttf') format('truetype')
}

.main-header {
  background-color: #8bbdf6;
}

.logo {
  font-family: 'pokemon-logo', sans-serif;
  color: #2759A5;
  margin: 0;
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 0 1px 0 rgba(39, 89, 165, .1),
                0 2px 0 #ffcb05,
                0 3px 0 rgba(39, 89, 165, .1),
                0 4px 0 #ffcb05,
                0 6px 1px rgba(0,0,0, .1),
                0 0 5px rgba(0,0,0, .1),
                0 1px 3px rgba(0,0,0, .3),
                0 3px 5px #ffcb05,
                0 20px 20px rgba(0,0,0, .15);
}