
.buddy-btn {
  margin-top: 3em;
}

.about-container {
  margin-bottom: 2em;
}

.buddy-btn,
.about-btn {
  min-width: 8em !important;
  height: 35px !important;
  border-radius: 0.4em !important;
  font-size: 0.75em !important;
}

.buddy-text {
  font-size: 0.875em;
}

a:hover {
  cursor: pointer;
}

@media (min-width: 44em) {
  .buddy-btn,
  .about-btn {
    font-size: 1.5rem !important;
    min-width: 7em !important;
    height: 45px !important;
  }

  .buddy-text {
    font-size: 1em;
  }
}