
.buddy-btn {
  margin-top: 3em;
}

.about-container {
  margin-bottom: 2em;
}

/* .buddy-btn,
.about-btn {
  width: 100px !important;
  height: 25px !important;
  border-radius: 0.4em !important;
  font-size: 0.75em !important;
} */