
.login-form {
  margin: 1.5em auto 0;
  max-width: 400px;
}

.login-form fieldset {
  min-width: 100%;
}

.login-form .form-input label {
  font-size: 0.875em;
  display: block;
  margin: 0 auto;
}

.form-error {
  color: #fdfdfd;
  font-size: 0.875em;
}
.form-input > * {
  width: 16em;
}

.form-input label {
  font-size: 0.675em;
}

.login-btn {
  margin-top: 1em;
  margin-bottom: 0.5em;
}