
.home-section {
  font-size: 1.2rem;
  padding: 2em 4% 1em;
  text-align: center;
}

.start-btn {
  text-transform: uppercase;
  width: 100px !important;
  font-size: 1.2em;
  height: 45px !important;
  border-radius: 0.4em !important;
}