
.home-section {
  font-size: 1.25rem;
  padding: 2em 4% 1em;
  text-align: center;
}

/* .start-btn {
  width: 100px !important;
} */

.start-btn {
  text-transform: uppercase;
  width: 130px !important;
  font-size: 1.5em !important;
  height: 45px !important;
  border-radius: 0.4em !important;
}