*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  color: #06AED5;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: green;
}

/* color scheme */
body {
  background-color: #183973;
  color: #ffcb05;
  font-family: 'Roboto', 'sans-serif';
}

i {
  background-color: #183973;
  
  background-color: #b4c5cd;
  
  background-color: #8bbdf6;
  background-color: #bd2931;
}

i {
  background-color: #4183cd;
  background-color: #fdfdfd;
}

/* card colors */
  /* border: #bd2931 */
  /* border-radius: 5px */
  /* bgc: #fdfdfd */
  /* color: */

