*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #FE9000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* color scheme */
body {
  background-color: #183973;
  color: #ffcb05;
  font-family: 'Roboto', 'sans-serif';
}

i {
  background-color: #183973;
  
  background-color: #b4c5cd;
  
  background-color: #8bbdf6;
  background-color: #bd2931;

  background-color: #FE9000;
  background-color: #F77F00;
  background-color: #F4892A; 
}

i {
  background-color: #4183cd;
  background-color: #fdfdfd;
}

.btn-highlight {
  display: inline-block;
  color: #183973;
  font-weight: 600;
  background: #FE9000;
  width: 70px;
  height: 24px;
  line-height: 20px;
  border-radius: 10px;
  border-color: #fdfdfd;
  position: relative;
  overflow: hidden;
}

.btn-highlight:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}

.btn-highlight:hover:before {
  left: 150px;
  transition: all .5s;
}

button:not(.pokemon-btn) {
  width: 100px !important;
  height: 25px !important;
  border-radius: 0.4em !important;
  font-size: 0.75em !important;
}