*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 1em;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

button:hover {
  cursor: pointer;
}

a {
  color: #fdfdfd;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover,
a:focus {
  color: #FE9000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  padding: 1em 0;
}

.guess-fieldset {
  border: none;
}

/* color scheme */
body {
  background-color: #183973;
  color: #ffcb05;
  font-family: 'Roboto', 'sans-serif';
}

.btn-highlight {
  display: inline-block;
  color: #183973;
  font-weight: 600;
  background: #FE9000;
  width: 70px;
  height: 24px;
  line-height: 20px;
  border-radius: 10px;
  border-color: #fdfdfd;
  position: relative;
  overflow: hidden;
}

.btn-highlight:before {
  content: "";
  position: absolute;
  top: -30px;
  left: -80px;
  height: 100px;
  width: 70px;
  background: rgba(255, 255, 255, .7);
  transform: rotate(20deg);
}

.btn-highlight:hover:before {
  left: 150px;
  transition: all .5s;
}

button:not(.pokemon-btn) {
  width: 100px !important;
  height: 25px !important;
  border-radius: 0.4em !important;
  font-size: 0.75em !important;
}

@media (min-width: 20em) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 32em) {
  .main-header {
    padding: 1.2em 6% 2em;
    min-height: 10em;
  }

  .logo {
    font-size: 2.5em;
  }

  .pokemon-avatar {
    width: 46px;
    height: 46px;
  }

  .home-section {
    font-size: 1.4rem;
    padding: 2em 6% 1em;
  }

  button:not(.pokemon-btn) {
    width: 120px !important;
    height: 30px !important;
  }
}

@media (min-width: 44em) {
  .main-header {
    padding: 1.8em 8% 2em;
    margin-bottom: 4em;
  }

  .logo {
    font-size: 2.8em;
  }

  .pokemon-avatar {
    width: 56px;
    height: 56px;
  }
}

@media (min-width: 56em) {
  .main-header {
    padding: 1.8em 12% 2em;
  }

  .pokemon-avatar {
    width: 72px;
    height: 72px;
  }
}













